<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>
<div class="span8">
  <%= render 'shared/tag_users', {:users => @tag.users, :tag => @tag} %>
</div>
<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
